In [7]:
import numpy as np
import pandas as pd
# Selecting only Age and Sex columns

# Males
titanic_males = titanic[titanic['Sex'] == 'male']['Age']

# Females
titanic_females = titanic[titanic['Sex'] == 'female']['Age']

import matplotlib.pyplot as plt

plt.hist(titanic_males.dropna(), bins=20, alpha=0.5, label='Male')
plt.hist(titanic_females.dropna(), bins=20, alpha=0.5, label='Female')

plt.xlabel('Age')
plt.ylabel('Number of Passengers')
plt.title('Age Distribution of Titanic Passengers by Gender')
plt.legend()
plt.show()

NameError: name 'titanic' is not defined

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Age = [1, 2, 6, 4, 5]
NumberofPassengers = [2, 4, 6, 8, 10]
plt.plot(x, y, marker='o')
# Load the Titanic dataset
titanic = pd.read_csv(r"C:\Users\Admin\Desktop\titanic 2.csv")   # make sure the file path is correct

# Selecting only Age and Sex columns
titanic_males = titanic[titanic['Sex'] == 'male']['Age']
titanic_females = titanic[titanic['Sex'] == 'female']['Age']

# Plotting
plt.hist(titanic_males.dropna(), bins=20, alpha=0.5, label='Male')
plt.hist(titanic_females.dropna(), bins=20, alpha=0.5, label='Female')

plt.xlabel('Age')
plt.ylabel('Number of Passengers')
plt.title('Age Distribution of Titanic Passengers by Gender')
plt.legend()
plt.show()
print(titanic.head())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Sample sea ice extent dataset
data = {
    "Year": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009],
    "Extent": [6.2, 6.1, 6.0, 5.8, 5.9, 5.7, 5.6, 4.3, 4.7, 5.0],  # in million sq. km
    "Region": ["Arctic"]*10
}

seaice = pd.DataFrame(data)

# Scatter plot
plt.scatter(seaice["Year"], seaice["Extent"], color="blue", label="Sea Ice Extent")

plt.xlabel("Year")
plt.ylabel("Sea Ice Extent (million sq. km)")
plt.title("Arctic Sea Ice Extent Over Time")
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load dataset
ice = pd.read_csv(r"C:\Users\Admin\Desktop\seaice_extent.csv")

# Filter for Northern Hemisphere and only March (3) and September (9)
ice_north = ice[(ice["region"] == "N") & (ice["month"].isin([3, 9]))]

# Scatter plot with different marker styles for months
plt.figure(figsize=(10, 6))
sns.scatterplot(
    x="time",
    y="extent",
    style="month",   # Different markers for month=3 and month=9
    # hue="month",     # Optional: color by month as well
    data=ice_north,
    s=70             # marker size
)

plt.xlabel("Year")
plt.ylabel("Sea Ice Extent (million kmÂ²)")
plt.title("Northern Hemisphere Sea Ice Extent (March vs September)")
plt.ylim(0, 17)
plt.grid(False)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

y = [4, 5, 6, 7]

plt.plot(y, marker='2')
plt.title("Default y-axis")
plt.show()

plt.plot(y, marker='o')
plt.ylim(0, 10)   # force y-axis range
plt.title("With plt.ylim(0, 10)")
plt.show()